.m-t-20 {
    margin-top:20px;
}
.p-0 {
    padding:0px !important;
}
.p-s {
    padding-left:5px !important;
    padding-right:5px; !important;
}
.background-cool {
    background:#F4F8FA;
    padding-top:20px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.charter-hero-clear{
    position: absolute;
    width:1200px;
    left: 50%;
    transform: translate(-50%, 0);
}
.charter-hero-wrapper{
    position:relative;
    float:left;
    margin:0 auto;
    margin-top:390px;
    padding-left:20px;
}
.charter-wrapper {
    max-width:1200px;
    margin:0 auto;
    clear:both;
}
@media screen and (max-width: 1200px) {
    .charter-hero-clear {
        left:auto;
        transform: none;
        overflow-x:hidden;
        max-width:100%;
    }
}
@media screen and (max-width: 600px) {
    .charter-hero-image {
        max-height:460px;
    }
    .charter-hero-wrapper{
margin-top:250px;}
}
.charter-hero-image{
    height:600px;
}
.charter-hero-image img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.charter-hero {
    color:#fff;
}
.charter-hero p{
    letter-spacing: 2px;
    color:#fff;
    font-weight:600;
}
.charter-hero h1{
    font-size:72px;
    margin-top:-10px;
    font-weight:700;
}
.hero-info-data h6{
    margin-bottom:0px;
    opacity:1;
    letter-spacing: 2px;
    color:#ffffff;
    font-weight:700;
}
.hero-info-data {
    color:#fff;
    float:left;
    margin-right:30px;
}
.charter-sidebar{
}

.charter-table-title{
    font-weight:600;
    color:#484848;
    line-height: 1.6;
}

.charter-table-data{
    color:#888;
    line-height: 1.8;
    margin-bottom:20px;
}
.charter-intro {
    font-size:18px;
    color:#888;
    line-height: 1.5;
    margin-top:40px;
    margin-bottom:20px;
}

.charter-wrapper h3{
    font-size:24px;
    color:#484848;
    opacity: .25;
    font-weight:400;
    letter-spacing: 2px;
}
.charter-about-title{
    color:#484848;
    font-weight:600;
    margin-bottom:-0px;
}
.carousel-inner{
    max-height:600px;
}
.carousel-inner .item img{
    height:100%;
    width:100%;
    object-fit: contain;
}
.deckplan-expand {
    height:32px;
    width:32px;
    background:#0372BC;
    position:absolute;
    right:15px;
    padding:6px 10px;
    color:#fff;
    cursor: pointer;
}

.related-charter{
    float: left;
    position: relative;
    margin-bottom:20px;
    max-height:300px;
    overflow:hidden;
}
.related-charter-info{
    position:absolute;
    color:#fff;
    bottom:10px;
    margin-left:20px;
}
.related-charter-info h3{
    color:#fff;
    opacity: 1;
    letter-spacing: 1px;
    margin-bottom:8px;
    font-weight:700;
}
.related-charter-info p{
    margin-bottom:4px;
    color:#ffffff;
    font-weight:600;
}


/* NEW*/

.charter-filter{
    background:#fff;
    border-bottom:1px solid #D3E0E9;
    height:60px;
}