* {
    font-family: 'Roboto', sans-serif;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.m-r-20{
    margin-right:20px;
}
.m-r-5 {
    margin-right:5px;
}
.margin-8{
    height:8px;
    width:8px;
    background:#D3E0E9;
    margin-bottom:48px
}
.margin-16{
    height:16px;
    width:16px;
    background:#D3E0E9;
    margin-bottom:40px;
}
.margin-24{
    height:24px;
    width:24px;
    background:#D3E0E9;
    margin-bottom:32px
}
.margin-32 {
    height:32px;
    width:32px;
    background:#D3E0E9;   
    margin-bottom:24px;
}
.margin-48{
    height:48px;
    width:48px;
    background:#D3E0E9;
    margin-bottom:8px;
}
a {
    color:#0372BC;
    text-decoration: underline;
    cursor:pointer;
}
.hero {
    padding:48px 24px 48px 24px;
    background:#fff;
    border-bottom:1px solid #D3E0E9;
    overflow:hidden;
}
.page-wrapper {
    max-width:1620px;
    margin: 0 auto;
}
.btn-default {
    border:1px solid #D3E0E9;
    color:#484848;
}
.btn-active {
    background:#0372BC;
    color:#fff;
}
.btn-default:hover {
    background:#F5F8FA;
    border:1px solid #D3E0E9;
}
.btn-active:hover {
    background:#286090;
    color:#fff;
}
.btn-group-justified .fa {
    width:100%;
    float:left;
    margin:10px 0px;
}
.btn-group-justified span {
    width:100%;
    float:left;
}
/*ICON SIZES*/
.icon-lg {
    width:36px;
}
.icon-md {
    width:24px;
}
.icon-sm {
    width:18px;
}
/*BRAND COLORS*/
.brand-blue {
    color:#0372BC;
}
.brand-border {
    color:#D3E0E9;
}
.brand-headline{
    color:#484848;
}
.brand-text {
    color:#888888;
}
.brand-bg {
    color:#F5F8FA;
}
.brand-alert {
    color:#ea4335;
}
.brand-green {
    color:#2DA94F;
}
li {
    margin:8px 0px;
    color:#888888;
}
/*FONTS*/
h1 {
    font-size:32px;
    font-weight:500;
    margin:16px 0px 8px 0px;
}
h2 {
    font-size:24px;
    font-weight:500;
    margin:8px 0px;
}
h3 {
    font-size:18px;
    font-weight:500;
    margin:8px 0px;
}
h4 {
    font-size:16px;
    font-weight:500;
    margin:8px 0px;
}
h5 {
    font-size:14px;
    font-weight:500;
    margin:8px 0px;
}
h6 {
    font-size:12px;
    font-weight:700;
    color:#484848;
    opacity:.5;
    margin:8px 0px;
}
p {
    line-height:1.6;
    font-weight:500;
    color:#888888;
    margin:8px 0px;
}
/*BUTTONS*/
.btn-primary {
    background:#0372BC;
    color:#fff;
    transition: all 0.5s ease;
    text-decoration: none;
}
.btn-primary:hover {
    background:#286090;
}
.btn-secondary {
    border: 1px solid #0372BC;
    color: #0372BC;
    background:#fff;
    transition: all 0.5s ease;
    text-decoration: none;
}
.btn-secondary:hover {
    border: 1px solid #0372BC;
    color: #fff;
    background:#0372BC;
}
.btn-disabled {
    background:#D3E0E9;
    cursor:not-allowed;
    text-decoration: none;
}
.btn-alert {
    border: 1px solid #ffaea7;
    color: #ea4335;
    background:#fff;
    transition: all 0.5s ease;
    text-decoration: none;
}
.btn-alert:hover {
    border: 1px solid #ffaea7;
    color: #fff;
    background:#ea4335;
}
.btn-white {
    color:#0372BC;
    background:#fff;
    transition: all 0.5s ease;
    text-decoration: none;
    text-shadow:none;
}
.btn-white:hover {
    background:#f0f0f0;
    color:#0372BC;
}

/*INPUTS*/
input {
    border: 1px solid #D3E0E9;
    padding:8px;
    border-radius:4px;
    height:34px;
    width:100%;
}
.lux-input {
    max-width:200px;
}
.lux-input h6 {
    float:left;
}
.lux-input .fa {
    float:right;
    margin-top:6px;
}
.dropdown-toggle {
    width:100%;
    max-width:200px;
}
.dropdown-menu {
    max-width:200px;
    width:100%;
    text-align: center;
}
.country-phone {
    width:200px;
    height:auto;
}
.country-left{
    width:60px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    margin-right:-4px;
    text-align: center;
}
.country-right {
    width:140px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.date-selector{
    height:auto;
    width:200px;
    float:left;
}
.date-left,
.date-right,
.date-middle {
    width:66px;
    float:left;
    margin-left:-1px;
}
.date-left {
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
.date-middle {
    border-radius:0px;
}
.date-right {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.dropdown-menu li a {
    color:#0372BC;
    text-decoration: none;
}
.dropdown-menu li a:hover {
    background:#F5F8FA;
    color:#0372BC;
}
/*STATUS*/
.status-icon {
    height:26px;
    width:26px;
    border-radius:13px;
    color:#fff;
}
.status-pending {
    background:#9B9B9B;
    padding:2px 5px 0px 5px;
}
.status-progress {
    border:2px solid #0372BC;
}
.progress-bottom {
    height:13px;
    width:26px;
    background: #0372BC;
    margin-left:-2px;
    margin-top:11px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.status-complete {
    background:#2DA94F;
    padding:3px 3px;
}
.status-alert {
    background:#D0021B;
    padding:2px 5px;
}
/*EPAULET LARGE*/
.ep-large {
    height:90px;
    width:44px;
}
.ep-large img {
    height:100%;
}
/*CAREER PATH*/
.career-path-wrapper {
    width:100%;
    height:80px;
    float:left;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor:pointer;
    padding-left:20px;
    z-index:-6;
    border:1px solid #ffffff;
}
.career-path-wrapper:hover {
    background:#F5F8FA;
    border:1px solid #D3E0E9;
    border-radius:4px;
}
.career-path-epaulet {
    float: left;
    margin-top: 20px;
    margin-left: 44px;
}
.career-circle {
    width:24px;
    height:24px;
    background:#F5F8FA;
    border: 1px solid #D3E0E9;
    border-radius: 12px;
    float:left;
    margin-top:28px;
    margin-left:10px;
    z-index:30;
    position: absolute;
}
.active-position {
    background: #0372bc;
    border: 1px solid #0372bc;
}
.career-line-top {
    width:1px;
    height:40px;
    margin-top:40px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:21px;
    z-index: 2;
}
.career-line-bottom {
    width:1px;
    height:40px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:21px;
    z-index: 2;
}
.career-line {
    width:1px;
    height:80px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:21px;
    z-index: 2;
}
.career-side-line-top {
    width:1px;
    height:40px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:1px;
}
.career-side-line-bottom {
    width:1px;
    height:40px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:1px;
    margin-top:40px;
}
.career-side-line {
    width:1px;
    height:80px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:1px;
}
.career-side-horz {
    width:9px;
    height:1px;
    float:left;
    position: absolute;
    background:#D3E0E9;
    margin-left:1px;
    margin-top:40px
}
.career-text {
    float:left;
    margin-top:24px;
    margin-left:10px;
    margin-left:10px;
}
.career-text h5 {
    margin-top:8px;
    margin-bottom:5px;
    color:#0372bc;
    font-weight: 600;
}

.path-active {
    border:1px solid #0372BC !important;
    border-radius:2px;
}
.path-active .career-circle {
    background: #0372BC;
    border: 1px solid #0372BC;
}
.path-active .career-text h5 {
    color:#484848;
}

/*BREAD CRUMBS*/
.breadcrumb {
    height:auto;
    background:#FFF;
    padding-left:0px;
    margin-bottom:-10px;
}
.breadcrumb li {
    margin:0px;
}

/*POSITION STATS*/
.pos-stats {
    width:100%;
    padding:18px 24px;
    border: 1px solid #D3E0E9;
    margin-bottom:20px;
    float:left;
    border-radius:2px;
}
.pos-stats button {
    float:left;
    margin-bottom:10px;
    font-weight:600;
}
.pos-stats h6 {
    color:#9B9B9B;
    margin-bottom:0px;
}
.pos-stats h3 {
    margin-bottom:10px;
    margin-top:10px;
}
    
    
/*MOBILE DOWNLOAD*/
    .mobile-download button{
        background:#0372bc;
        padding:10px;
        text-align: center;
        border:none;
        width:100%;
        color:#fff;
    }

/*LIST ITEMS*/
.modifiers {
    list-style:none;
}
.modifiers .fa {
    font-size: 9px;
    color: #fff;
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
}
.list-plus {
    width:12px;
    height:12px;
    background:#0372BC;
    position: absolute;
    margin-top: 4px;
    border-radius:6px;
    margin-left:-18px
}
.list-minus {
    width:12px;
    height:12px;
    background:#ea4335;
    position: absolute;
    margin-top: 4px;
    border-radius:6px;
    margin-left:-18px
}


/*NEXT / PREVIOUS PAGE BUTTONS*/
.info-data-wrapper {
    border-top: 1px solid #D3E0E9;
    border-bottom: 1px solid #D3E0E9;
    float:left;
    width: 100%;
    background: #ffffff;
}
.info-data-inner {
    max-width:1600px;
    margin: 0 auto;
}
.info-data {
    border-left:1px solid #D3E0E9;
    border-right:1px solid #D3E0E9;
    margin-left:-1px;
    height:inherit;
    padding:20px 
}
.info-data-footer {
    border-left:1px solid #D3E0E9;
    border-right:1px solid #D3E0E9;
    margin-left:-1px;
    height:inherit;
    padding:20px; 
}
.info-data-footer h3 {
    font-weight:400;
    color:#0372bc;
    margin-top:2px;
    width:300px;
}
.info-data-footer h6 {
    margin-bottom:8px;
    font-size:10px;
    width:80%;
    color:#9B9B9B;
    float:left;
}
.next-section {
    height:60px;
    width:40px;
    float:left;
    padding:22px 14px;
    margin-left:-10px;
    color:#0372bc;
}
.next-push {
    text-align:right;
    float: right
}
.next-push h6,
.next-push h3 {
    float:right;
}
.next-push .fa {
    margin-left:10px
}
.info-data-footer:hover {
    background:#F5F8FA;
}
.info-data h3 {
    font-weight:400;
    color:#0372bc;
    margin-top:2px;
    width:80%;
}
.info-data h6 {
    margin-bottom:0px;
    font-size:10px;
    color:#9B9B9B;
}


/*PRELOADER*/
.pre-loader {
    width: 200px;
    height: 160px;
    margin: 0 auto;
    background: #fff;
    padding: 40px 0px;
    border: 1px solid #d3e0e9;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(211, 224, 233, .05);
}

/*Tablets*/
/*4 COLUMN*/
.cert-table h5 {
    margin-top: 12px;
}

.cert-table-title {
    height: 40px;
}

.cert-table,
.experience-table {
    border-bottom: 1px solid rgba(211, 224, 233, 0.5);
    ;
    border-top: 1px solid rgba(211, 224, 233, 0.5);
    height: 60px;
    padding: 10px 0px;
    background: #fff;
    border-radius: 4px;
    margin-top: -1px;
}

/*6 columns*/




/*******************************************
NAVIGATION STYLES
/*******************************************/
.navbar {
    height: 60px;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: 0px !important;
    border: none !important;
    border-bottom: 1px solid #e3e3e3 !important;
    z-index: 999;
} 
.navbar-header .nav-button,
.open-nav button:focus{
    outline:none;
}
.navbar-brand {
    height: 60px;
}
.navbar-brand img {
    margin-top: -5px;
}
.navbar h5 {
    margin-left: 20px;
    margin-bottom: 15px;
}
.navbar h5 i {
    margin-right:10px;
    color: #484848;
    opacity: .5;
}
.navbar-header .nav-button {
    float: right;
    height: 60px;
    min-width: 60px;
    position: relative;
    border-left: 1px solid #e3e3e3;
    background: #fff;
    margin-top: -1px;
    font-weight: 500;
}
.nav-links button {
    height: 59px;
    min-width:60px;
    border: none;
    border-left: 1px solid #e3e3e3; 
    margin: 0;
    width: auto;
    padding: 0px 20px;
}
.nav-button .fa {
    color: #0372bc; 
}
.nav-links button .fa{
    color: #0372bc; 
}
.nav-links button:hover {
    background:#F5F8FA;
}
.nav-links button:active{
    color:#fff;
    background: #0372bc; 
    height:60px;
}
.nav-links button:active .fa{
    color:#fff;
}
.nav-links button:active h5,
.nav-links button:active h6{
    color:#fff !important;
}
.navbar-header {
    float: none;
    max-width:1620px;
    margin:auto;
}
.nav-badge {
    height: 60px;
    border-radius: 0px;
}
.nav-badge .horz-badge{
    margin-right:10px;
    margin-top:16px;
}
.horz-badge {
    width: 50px;
    height: 25px;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    color: #0733bb;
    vertical-align: middle;
    padding-left: 5px;
    text-align: left;
    background: #fff;
    border: 1px solid #d3e0e9;
}
.horz-badge:hover {
    /*border:1px solid #0372BC;
    z-index:9999;*/
    background:#F5F8FA;
    cursor:pointer;
}
.horz-badge-ep-style {
    margin-left: -1px;
    width: 14px;
    height: 12px;
}
.horz-badge-dept-style {
    margin-left: 1px;
    height: 12px;
}
.badge-active {
    border:1px solid #0372BC;
}
/*OPEN NAV*/ 
.open-search-wrapper {
    float: none;
    max-width: 1620px;
    margin: auto;
    position: relative;
    z-index: 9999;
}
.open-nav-wrapper {
    float: none;
    max-width: 1620px;
    margin: auto;
    z-index: 9999;
    position:relative;
}
.open-nav {
    width: 400px;
    position: absolute;
    right: 0;
    top:60px;
    z-index: 9999;
}  
.open-nav-title {
    display:none;
}
.open-nav-title .nav-user {
    border: none;
    background: #fff;
    margin-top: 10px;
    margin-left: 12px;
}
.nav-user {
    width: 280px;
    height: 60px;
    float: right;
}
.nav-user .vert-epi:hover {
    border: 1px solid #0372BC;
    cursor:pointer;
}
.open-search-title {
    width:400px;
    height:60px;
}
.open-nav-close .fa {
    float: right;
    margin-top: 15px;
    margin-right: 18px;
    color: #fff;
}
.open-nav-close {
    background:#0372BC;
    height:60px;
    width:60px;
    float:right;
}
.open-nav-close:hover {
    background:#09568A;
    cursor: pointer;
}
.nav-open {
    width:100%;
    height:42px;
    font-size:14px;
    font-weight:400;
    padding:10px 20px;
    position: relative; 
}
.nav-open .fa{
    margin-right:10px;
    opacity: .5;
    width:12px
}
.nav-blue {
    background:#0372BC;
    color:#fff;
    border-left:1px solid #0372BC;
    border-right:1px solid #0372BC;
} 
.nav-blue:hover {
    background:#09568A;
} 
.nav-gray {
    background:#F5F8FA;
    color:#0372BC;
    border-left:1px solid #D3E0E9;
    border-right:1px solid #D3E0E9;
} 
.nav-gray:hover {
    background:#E7EEF3;
} 
.nav-white {
    background:#FFF;
    color:#0372BC;
    border-left:1px solid #D3E0E9;
    border-right:1px solid #D3E0E9;
} 
.nav-white:hover {
    background:#E7EEF3;
} 
.nav-link-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}   
.mobile-nav-user {
    border:none;
    background:#fff;
    height:60px;
    padding-left:14px;
    max-width:260px;
    border-left:1px solid #D3E0E9;
}
.width-60 {
    width:60px !important;
}

/*POSITION SELECT*/
.info-cards {
    border:1px solid #D3E0E9;
    margin-bottom:24px;
    background:#fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(211, 224, 233, .05);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.info-cards:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 3px 6px rgba(211, 224, 233, .10);
}
.info-card-image {
    height:200px;
    background:#F5F8FA;
    width:100%;
    overflow:hidden;
    border-bottom:1px solid #D3E0E9;
}
.info-card-image-large {
    height:400px;
    background:#fff;
    width:100%;
    overflow:hidden;
}
.info-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info-card-image-large img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info-card-text {
    padding:16px;
}
.info-text-center {
    text-align: center;
}
.info-wrapper .info-card-text{
    padding:0px;
}
.info-card-text a {
    margin-bottom: 8px;
}
.headline {}
.headline-center {
    text-align: center;
}
.headline-white,
.headline-white p{
    color:#fff;
    text-shadow: 2px 2px 0px rgba(72, 72, 72, 0.5)
}

.page-title {
    background:#fff;
    padding:10px 0px;
    border-bottom:1px solid #D3E0E9;
}
.page-title h1 {
    margin-top:10px
}

/*TOOLTIP*/
.tooltip {
    opacity:1 !important;
}
.tooltip-inner {
    background:#484848;
    color:#ffffff;
}
tooltip-inner .tooltip-arrow {
    background:#484848;
}


@media only screen and (max-width: 460px) {
    .col-ss-12 {
        width:100%;
        padding-left:0px;
        padding-right:0px;
    }
}