

/*STYLE GUIDE*/
ul {
    list-style: none;
}
li {
    font-size:14px;
    margin-bottom: 10px;
}
.m-b-24 {
    margin-bottom:24px;
}
html {
    overflow-x:hidden;
}
section {
    padding:20px;
}
.last-edit {
    opacity: .5;
}
xmp {
    background: #F5F8FA;
    border:1px solid #D3E0E9;
    width: 100%;
    padding:8px 16px;
    white-space:pre-wrap;
    border-radius:4px;
    opacity: .5;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}
xmp:hover {
opacity: 1;}
/*BRAND COLORS*/

/*SWATCHES*/
.swatch {
    width:100%;
    height:40px;
    border:1px solid #D3E0E9;
    float:left;
}
.swatch-wrapper {
    width:100%;
    float:left;
    margin-bottom:24px;
}
.swatch-wrapper h4{
    float:left;
    margin-top:16px;
    margin-bottom:0px;
    width: 100%;
}
.swatch-wrapper h5{
    color:#9B9B9B;
    font-weight:400;
    float:left;
    width: 100%;
    margin-top:8px
}
.brand-blue-swatch {
    background:#0372BC;
}
.brand-border-swatch {
    background:#D3E0E9;
}
.brand-headline-swatch {
    background:#484848;
}
.brand-text-swatch {
    background:#9B9B9B;
}
.brand-bg-swatch {
    background:#F5F8FA;
}
.brand-alert-swatch {
    background: #ea4335;
}
.brand-green-swatch {
    background:#2DA94F;
}