<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="css/styleguide.css"> 
    <title>Luxury Yachts Styleguide</title>
</head>
<body>
   <div class="row">
       <div class="col-md-3">
          <ul>
                <li><a ng-model="section-introduction">Introduction</a></li>
                <li><a ng-model="section-colors">Colors</a></li>
                <li>Typography</li>
                <li>Buttons</li>
                <li>Inconography</li>
                <li>Inconography</li>
           </ul>
       </div>
       <div class="col-md-9">
           <section>
               <h2>Introduction</h2>
               <p>This is the style guide for Luxury Yacht Group</p>
               <h6 class="last-edit">Last Edit: 2-21-17</h6>
           </section>
           <section>
               <h2>Colors</h2>
               <p>This is the style guide for Luxury Yacht Group</p>
               <h6 class="last-edit">Last Edit: 2-21-17</h6>
               
               <h3>Swatches</h3>
               <div class="row">
                   <div class="col-md-3 col-xs-6">
                       <div class="swatch-wrapper">
                           <div class="swatch brand-blue-swatch"></div>
                           <h4>#0372BC</h4>
                           <h5>.brand-blue</h5>
                       </div>
                   </div>
                   <div class="col-md-3 col-xs-6">
                       <div class="swatch-wrapper">
                           <div class="swatch brand-border-swatch"></div>
                           <h4>#D3E0E9</h4>
                           <h5>.brand-border</h5>
                       </div>
                   </div>
                   <div class="col-md-3 col-xs-6">
                       <div class="swatch-wrapper">
                           <div class="swatch brand-bg-swatch"></div>
                           <h4>#F5F8FA</h4>
                           <h5>.brand-bg</h5>
                       </div>
                   </div>
                   <div class="col-md-3 col-xs-6">
                       <div class="swatch-wrapper">
                           <div class="swatch brand-headline-swatch"></div>
                           <h4>#484848</h4>
                           <h5>.brand-headline</h5>
                       </div>
                   </div>
                   <div class="col-md-3 col-xs-6">
                       <div class="swatch-wrapper">
                           <div class="swatch brand-text-swatch"></div>
                           <h4>#9B9B9B</h4>
                           <h5>.brand-text</h5>
                       </div>
                   </div>
               </div>
           </section>
           <section>
               <h1 class="brand-headline">This is the style for the H1</h1>
               <h2 class="brand-headline">This is the style for the H2</h2>
               <h3 class="brand-headline">This is the style for the H3</h3>
               <h4 class="brand-headline">This is the style for the H4</h4>
               <h5 class="brand-headline">This is the style for the H5</h5>
               <h6 class="brand-headline">This is the style for the H6</h6>
               <p class="brand-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque felis scelerisque nibh dictum dignissim. Vivamus non varius tellus. Etiam et elit scelerisque, lacinia odio quis, hendrerit ipsum. Quisque non egestas sapien, quis cursus augue. Aenean ultrices a leo a dictum. Cras viverra velit odio, id eleifend sem malesuada ut. Aliquam interdum molestie ante, eget accumsan purus efficitur finibus. Morbi eleifend lacinia risus, eget fermentum lorem luctus eget. Vivamus quis orci id nisl efficitur imperdiet. Aenean mollis varius lectus, vel suscipit libero imperdiet vel.</p>
           </section>
           <section>
                <div class="row">
                   <h2>Button Styles</h2>
                    <div class="col-md-3">
                        <button class="btn btn-primary">Primary Button</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-secondary">Secondary Button</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-disabled">Disabled Button</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-alert">Alert Button</button>
                    </div>
                </div>
           </section>
       </div>
   </div>
    
</body>
</html>
